.align{
    background-image: url("banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  img{
      position: relative;
      top: -50px;
      left: 540px;
      border: white 2px solid ;
  }
  
  .bg{
      background-color: rgba(252, 244, 252, 0.976);
      width:800px;
      height:1200px;
      margin-left: 25%;
      margin-right: 25%;
      padding-left: 50px;
      padding-right: 50px;
  }
  
  hr{
      border-color: rgb(21, 90, 239);
  }
  
  h3{
      color:rgb(33, 91, 237) ;
  }
  
  h1{
      color: rgb(237, 240, 244);
      position:relative;
      left: 200px;
      top: 75px;
  }
  
  .marg{
      margin-inline-start: 10px;
  }
  
  .p-align{
      color: rgb(5, 43, 94);
      position:relative;
      left: 205px;
      top: 75px;
  }