<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Registry</title>
    <link rel="stylesheet" href="../static/index.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="homebutton"><a href="{{url_for('home')}}">LOG OUT</a></div>
    
    <h1 style="font-size: 30px;">Customer Care Registry</h1>
    <br>
   

    <h1>Admin Page</h1>
    <div class="flash" id="para">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           <ul>
              {% for message in messages %}
              <h4>{{ message }}</h4>
              {% endfor %}
           </ul>
        {% endif %}
     {% endwith %}
    </div>
    <div class="box">
    <a href="{{ url_for('agentadd') }}">Add Agent</a>
    <a href="{{ url_for('assignagent') }}">Assign Agent</a>
    </div>

    
</body>
</html>
<script>
    $(document).ready(function(){
      $(".flash").hide(3000);
    });
  </script>