.align{
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  p{
    color:white;
  }
  
  img{
      position: relative;
      top: -50px;
      left: 540px;
      border: white 2px solid ;
  }
  
  .bg{
      background-color: rgba(72, 6, 255, 0.976);
      width:800px;
      height:1200px;
      margin-left: 25%;
      margin-right: 25%;
      padding-left: 50px;
      padding-right: 50px;
  }
  
  hr{
      border-color: rgb(54, 239, 21);
  }
  
  h3{
      color:rgb(33, 237, 94) ;
  }
  
  h1{
      color: rgb(237, 240, 244);
      position:relative;
      left: 200px;
      top: 75px;
  }
  
  .marg{
      margin-inline-start: 10px;
  }
  
  .p-align{
      color: rgb(255, 255, 255);
      position:relative;
      left: 205px;
      top: 75px;
  }